<header class="app-header">
    <div class="container">
        <div class="app-branding">
            <a routerLink="/" class="app-title">POC: PIN Reminder </a>
        </div>
        <div class="app-options">
            <nav class="app-nav">
                <ul>
                    <li>
                        <a routerLink="/login">Login</a>        
                    </li>
                    <li>
                        <a routerLink="/dashboard">Signup</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
 
